<link rel="stylesheet" type="text/css" href="stylesheets/jqueryFileTree.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/transcode.css"/>

<script type="text/javascript" src="javascripts/transcode/transcode.js"></script>

<script type="text/javascript">
    var auth_token = '<%=session[:authenticity_token] %>'
    var default_server_path = '<%=$VTRANS_CONFIG['server_path'] %>'
    $(function () {
        $("#trans_main").tabs()
        $("#add_files").tabs()
        $.bindHover()
        $.ajaxSettings.async = false;
        var defaultMediaParams = $.parseParams()
        var uploadVideos = $.updateList($("#upload_done_list")) //{id1:xxx, id2:xxx, ...} upload digest
        var data = $.updateTransList($("#trans_queue_list"), $("#trans_done_list"))
        $.ajaxSettings.async = true;

        var transQueue = data['transQueue']    // {id1:{fileID:xxx, original:xxx, target:xxx}, id2:{fileID:xxx, original:xxx, target:xxx},...}
        var doneQueue = data['doneQueue']
        var trans_index = 0

        $('#add_files').dialog({
            autoOpen: false,
            bgiframe: true,
            modal: true,
            width: 990,
            buttons: {
                "确认": function () {
                    var type = 0
                    var postData = new Object()
                    var flag = false
                    if ($("#add_files").tabs('option', 'selected') == 0) {
                        // data from upload
                        type = 0
                        $(this).find("input[class='checkbox-item-hook']:checked").each(function () {
                            flag = true
                            var vId = $(this).val()
                            var v_info = uploadVideos[vId]
                            v_info.tar_filename = 'trans-' + v_info.filename
                            postData[vId] = v_info
                        })

                    } else if ($("#add_files").tabs('option', 'selected') == 1) {
                        // data from remote filesystem
                        type = 1
                        var index = 0
                        $('#remote_files').find("input[class='file-hook']:checked").each(function () {
                            flag = true
                            postData[(index++)] = $(this).val()

                        })
                    }

                    if (flag) {
                        $.post('transcode', {type: type, data: postData, authenticity_token: auth_token}, function (result) {
                            for (var vID in postData) {
                                if (result[vID]['flag']) {
                                    var fileID = 'TRANS_' + trans_index
                                    var sour = result[vID]['vsrc']
                                    var tar_resp = result[vID]['vtar']
                                    var targ = $.extend(true, {}, defaultMediaParams)
                                    targ.id = tar_resp.id
                                    targ.gsv_number = tar_resp.gsv
                                    targ.status = tar_resp.status
                                    targ.filename = tar_resp.filename
                                    transQueue[targ.id] = {fileID: fileID, original: sour, target: targ}
                                    var ytd = $("<tr/>").attr('id', fileID)
                                    ytd.append($('<td/>').attr("class", "item-index").append($('<input>').attr("type", "checkbox").attr("class", "checkbox-item-hook").attr('value', targ.id)).append($('<span/>').attr("class", "index-hook")))
                                            .append($('<td/>').attr("class", "status").html(targ.status))
                                            .append($('<td/>').attr("class", "filename").html("<p>N1:<input disabled value='" + sour.filename + "." + sour.video_format + "'+title='" + sour.filename + "." + sour.video_format + "'/></p><p>N2:<input disabled class='target-filename' value='" + targ.filename + "' title='" + targ.filename + "'/>"))
                                            .append($('<td/>').attr("class", "data-size").html($.formatFileSize(sour.data_size)))
                                            .append($('<td/>').attr("class", "video-format").html(targ.video_format))
                                            .append($('<td/>').attr("class", "path").html("<input disabled value='" + targ.path + "' title='" + targ.path + "'/>"))
                                            .append($('<td/>').attr('class', 'others').html($("<a/>").attr("href", "javascript:$.showVideoInfo('" + sour.id + "','0')").attr('title', '源信息').attr('class', 'ui-state-default ui-corner-all need-hover').append($('<span/>').attr('class', 'ui-icon ui-icon-info'))
                                                    .after($('<a/>').attr("href", "javascript:$('#params_setting').val('" + targ.id + "').dialog('open')").attr('title', '设置').attr('class', 'cancel ui-state-default ui-corner-all need-hover').append($('<span/>').attr('class', 'ui-icon ui-icon-wrench')))))
                                    $("#trans_queue_list").append(ytd)

                                    //console.log(transQueue)
                                    trans_index++
                                } else {
                                    alert(result[vID]['msg'])
                                }
                            }

                            $.updateIndexNum($("#trans_queue_list"), "item-index")
                            $.bindCheckboxAll($("#trans_queue .file-list"))
                            $.bindHover()
                        }, 'json')
                    }
                    $(this).dialog("close")
                },
                "取消": function () {
                    $(this).dialog("close")
                }
            }
        })

        $('#params_setting').dialog({
            autoOpen: false,
            bgiframe: true,
            width: 400,
            modal: true,
            open: function (event, ui) {
                var params
                var vID = $(this).val()
                if (vID == 'default') {
                    params = defaultMediaParams
                    $(this).find('#params_setting_filename').attr("hidden", true)
                } else {
                    params = transQueue[vID].target
                    $(this).find('#params_setting_filename').attr("hidden", false)
                }
                $(this).find('[name=filename]').val(params.filename)
                $(this).find('[name=video_format]').val(params.video_format)
                $(this).find('[name=vcodec]').val(params.vcodec)
                $(this).find('[name=frame_size]').val(params.frame_size)
                $(this).find('[name=aspect]').val(params.aspect)
                $(this).find('[name=fps]').val(params.fps)
                $(this).find('[name=bitrate]').val(params.bitrate)

                $(this).find('[name=acodec]').val(params.acodec)
                $(this).find('[name=ar]').val(params.ar)
                $(this).find('[name=ab]').val(params.ab)
                $(this).find('[name=ac]').val(params.ac)
            },
            buttons: {
                "确认": function () {
                    var vID = $(this).val()
                    if (vID == 'default') {
                        defaultMediaParams = $.parseParams()
                        delete defaultMediaParams.filename
                        $("#trans_queue_list").find("input[type='checkbox']:checked").each(function () {
                            vID = $(this).val()
                            var params = transQueue[vID].target
                            transQueue[vID].target = $.parseParams2(params, defaultMediaParams)
                            $.updateTransQueueHtml($(this).parent().parent(), transQueue[vID].target)
                        })
                    }
                    else {
                        var params = transQueue[vID].target
                        var newParams = $.parseParams()
                        transQueue[vID].target = $.parseParams2(params, newParams)
                        var targetParamsStr = $.formatParams(transQueue[vID].target, transQueue[vID].original)
                        $.updateTransQueueHtml($("#" + transQueue[vID].fileID), newParams)
                    }
                    $(this).dialog("close")
                },
                "取消": function () {
                    $(this).dialog("close")
                }
            }
        })


        var errorQueueNew = {}
        var onTransIDs = {}
        var onTransLength = 0

        for (var vID in transQueue) {
            if (transQueue[vID].target.status == '等待' || transQueue[vID].target.status == '运行') {
                onTransLength++
                onTransIDs[vID] = vID
            }
        }

        if (onTransLength != 0) {
            time_span =  10000 + (onTransLength / 50) * 30 * 1000
            setTimeout('$.updateTransStatus()', time_span)
        }

        $.updateTransStatus = $.fn.updateTransStatus = function () {
//            console.log(onTransIDs)
            if (onTransLength > 0) {
                $.post('transcode/status', {gsv_list: onTransIDs, authenticity_token: auth_token}, function (result) {
                    for (var vID in result) {
                        var info = result[vID]
                        if (info['status'] == 2) {
                            transQueue[vID].target.status = "出错"
                            errorQueueNew[vID] = transQueue[vID]
                            errorQueueNew[vID].msg = info['msg']
                            $("#" + transQueue[vID].fileID).find('.status').html("出错").css('color', 'red')
                            $("#" + transQueue[vID].fileID).find('.checkbox-item-hook').attr('checked', false).attr('disabled', true).css('padding', 0).css('width', 'auto')
                            delete transQueue[vID]
                            delete onTransIDs[vID]
                            onTransLength--
                        } else if (info['status'] == 1) {
                            transQueue[vID].target.status = "等待"
                            $("#" + transQueue[vID].fileID).find('.status').html("等待").css('font-weight', 'green')
                        } else if (info['status'] == 0) {
                            transQueue[vID].target.status = "运行"
                            $("#" + transQueue[vID].fileID).find('.status').html("运行")
                        } else if (info['status'] == 3) {
                            transQueue[vID].target.status = "完成"
                            var t = transQueue[vID].target
                            $("#" + transQueue[vID].fileID).find('.status').html("完成").css('font-weight', '600')
                            $("#" + transQueue[vID].fileID).find('.checkbox-item-hook').attr('checked', false).attr('disabled', true).css('padding', 0).css('width', 'auto')
                            $("#" + transQueue[vID].fileID).fadeOut(500, function () {
                                $(this).remove();
                            });
                            delete transQueue[vID]
                            delete onTransIDs[vID]
                            onTransLength--

                            $.updateTransItem(t.id, doneQueue)
                        }
                    }
                    time_span =  10000 + (onTransLength / 50) * 30 * 1000
                    setTimeout('$.updateTransStatus()', time_span)
                }, 'json')
            }
        }

        $('#trans_process').dialog({
            autoOpen: false,
            bgiframe: true,
            modal: true,
            open: function (event, ui) {
                var $this = $(this).html('<table><tr class="check-input">\
                        <td class="name">检查输入文件：</td>\
                        <td class="status">未运行</td></tr>\
                        <tr class="check-output">\
                        <td class="name">检查输出参数：</td>\
                        <td class="status">未运行</td></tr></table>')
                var postData = new Object()
                var qualData = new Object()
                var flag = false
                $("#trans_queue_list input[type='checkbox']:checked").each(function () {
                    flag = true
                    var vID = $(this).val()
                    postData[vID] = transQueue[vID]
                })
                // {id1:{fileID:xxx, original:xxx, target:xxx}, id2:{fileID:xxx, original:xxx, target:xxx},...}
//                console.log(postData)
                if (flag) {
                    $("#trans_queue .clearfix-all input[type='checkbox']").attr('checked', false)
                    $this.find('.check-input .status').html('正在运行...')
                    var flag = true
                    $.post('transcode/check', {data: postData, authenticity_token: auth_token}, function (result) {
                        var err_msg = $('<div/>').attr('class', 'error-info')
                        for (var vID in result) {
                            flag &= result[vID]['flag']
                            if (!result[vID]['flag']) {
                                err_msg.append($("<p/>").html(postData[vID].target.filename + " has error: " + result[vID]['msg']))
                            } else {
                                qualData[vID] = vID
                            }
                        }
                        if (flag) {
                            $this.find('.check-input .status').html('通过')
                            if (flag) {
                                $this.find('.check-output .status').html('正在运行...')
                                $.post('transcode/submit', {data: qualData, authenticity_token: auth_token}, function (result) {
                                    for (var vID in result) {
                                        flag &= result[vID]['flag']
                                        if (result[vID]['flag']) {
                                            transQueue[vID].target.status = result[vID]['status']
                                            $('#' + transQueue[vID].fileID).find('.status').html(result[vID]['status'])
                                        } else {
                                            err_msg.append($("<p/>").html(postData[vID].target.filename + " has error: " + result[vID]['msg']))
                                        }
                                    }
                                    if (!flag) {
                                        $this.append(err_msg)
                                    } else {
                                        $this.find('.check-output .status').html('通过')
                                        for (var vID in result) {
                                            onTransIDs[vID] = vID
                                            onTransLength++
                                        }
                                        time_span =  10000 + (onTransLength / 50) * 30 * 1000
                                        setTimeout('$.updateTransStatus()', time_span)

                                        $this.delay(500).fadeOut(500, function () {
                                            $(this).dialog('close')
                                        });
                                    }
                                }, 'json')
                            }
                        } else {
                            $this.append(err_msg)
                        }
                    }, 'json')
                }
            }
        })

        $("#trans_cancel").click(function () {
            var vIDs = []
            $("#trans_queue_list input[type='checkbox']:checked").each(function () {
                if ($(this).attr('disabled') == undefined || $(this).attr('disabled') == false) {
                    var vID = $(this).val()
                    vIDs.push(vID)
                }
            })
            if (vIDs.length > 0) {
                $.post('transcode/delete', {vIDs: vIDs, authenticity_token: auth_token}, function (result) {
                    for (var id in result) {
                        var item = result[id]
                        if (item['flag'] == true) {
                            var params = transQueue[id]
                            $("#" + params.fileID).remove()
                            delete transQueue[id]
                        }
                    }
                    $("#trans_queue input[type='checkbox'][class='select-all-hook']:checked").attr("checked", false)

                }, 'json')
            }
        })

        $("#done_delete").click(function () {
            var vIDs = []
            $("#trans_done_list input[type='checkbox']:checked").each(function () {
                if ($(this).attr('disabled') == undefined || $(this).attr('disabled') == false) {
                    var vID = $(this).val()
                    vIDs.push(vID)
                }
            })
            if (vIDs.length > 0) {
                $.post('transcode/delete', {vIDs: vIDs, authenticity_token: auth_token}, function (result) {
                    for (var id in result) {
                        var item = result[id]
                        if (item['flag'] == true) {
                            var params = doneQueue[id]
                            $("#" + params.fileID).remove()
                            delete doneQueue[id]
                        }
                    }
                    $("#trans_done input[type='checkbox'][class='select-all-hook']:checked").attr("checked", false)
                    $.updateIndexNum($("#trans_done_list"), "item-index")
                    $.bindCheckboxAll($("#trans_done_list").parent())
                }, 'json')
            }
        })

        $("#trans_refresh").click(function () {
            $.updateTransStatus()
        })

        $("#upload_refresh").click(function () {
            uploadVideos = $.updateList($("#upload_done_list"))
        })

        $("#remote_files_rel").click(function () {
            if ($("#remote_files").html().trim() == "") {
                $("#remote_files").fileTree({
                    root: default_server_path,
                    script: 'transcode/file_list',
                    fileExt: '<%= $VTRANS_CONFIG['allow_extension']%>'
                }, function (file) {
                })
            }
        })

        $("#path_select").click(function () {
            $("#simple_file_tree").dialog("open")
            $("#simple_file_tree .content").simpleFileTree({
                root: default_server_path,
                script: 'transcode/file_list',
                fileExt: "",
                multiFolder: false
            }, function (file) {
                $("#simple_file_tree .path:first input").val(file).attr('title', file)
            })
        })

        $("#simple_file_tree").dialog({
            autoOpen: false,
            bgiframe: true,
            modal: true,
            width: 400,
            buttons: {
                "确认": function () {
                    var path = $(this).find(".path:first input").val()
                    $("#params_setting input[name='path']").val(path)
                    $(this).dialog("close")
                },
                "取消": function () {
                    $(this).dialog("close")
                }
            }
        })

        $("#video_info").dialog({
            autoOpen: false,
            bgiframe: true,
            modal: true,
            width: 800,
            position: {my: 'center', at: 'top', of: window}
        })
    })

</script>

<div id="trans_main">
  <ul>
    <li>
      <a href="#trans_queue">转码中</a>
    </li>
    <li>
      <a href="#trans_done">已转码</a>
    </li>
  </ul>

  <div id="trans_queue">
    <div class="oper-options">
      <table>
        <tr>
          <td>添加</td>
          <td>开始</td>
          <td>删除</td>
          <td>设置</td>
          <td>刷新</td>
        </tr>
        <tr>
          <td>
            <a href="javascript:$('#add_files').dialog('open')" class="ui-state-default ui-corner-all need-hover" title="添加"><span class="ui-icon ui-icon-plusthick"></span></a>
          </td>
          <td>
            <a href="javascript:$('#trans_process').dialog('open')" class="ui-state-default ui-corner-all need-hover" title="开始"><span class="ui-icon ui-icon-play"></span></a>
          </td>
          <td>
            <a id="trans_cancel" class="ui-state-default ui-corner-all need-hover" title="删除"><span class="ui-icon ui-icon-trash"></span></a>
          </td>
          <td>
            <a href="javascript:$('#params_setting').val('default').dialog('open')" class="ui-state-default ui-corner-all need-hover" title="设置"><span class="ui-icon ui-icon-wrench"></span></a>
          </td>
          <td>
            <a id="trans_refresh" class="ui-state-default ui-corner-all need-hover" title="刷新"><span class="ui-icon ui-icon-refresh"></span></a>
          </td>
        </tr>
      </table>
    </div>

    <div>
      <table class="file-list">
        <thead>
        <tr>
          <td class="clearfix-all"><input type="checkbox" class="select-all-hook"/><span>全部</span></td>
          <td class="status">状态</td>
          <td class="filename">视频名称</td>
          <td class="data-size">文件大小</td>
          <td class="video-format">目标格式</td>
          <td class="path">输出路径</td>
          <td class="others">其它</td>
        </tr>
        </thead>
        <tbody id="trans_queue_list"></tbody>
      </table>
    </div>
  </div>

  <div id="trans_done">
    <div class="oper-options">
      <table>
        <tr>
          <td>删除</td>
          <!--<td>添加</td>-->
        </tr>
        <tr>
          <td>
            <a id="done_delete" class="ui-state-default ui-corner-all need-hover" title="删除"><span class="ui-icon ui-icon-trash"></span></a>
          </td>
          <!--<td>-->
          <!--<a href="javascript:void(0)" class="ui-state-default ui-corner-all need-hover" title="添加"><span class="ui-icon ui-icon-plusthick"></span></a>-->
          <!--</td>-->

        </tr>
      </table>
    </div>

    <div>
      <table class="file-list">
        <thead>
        <tr>
          <td class="clearfix-all"><input type="checkbox" class="select-all-hook"/><span>全部</span></td>
          <td class="filename">视频名称</td>
          <td class="video-format">转码格式</td>
          <td class="frame-size">分辨率</td>
          <td class="data-size">文件大小</td>
          <td class="done-time">完成时间</td>
          <td class="path">输出路径</td>
          <td class="others">其它</td>
        </tr>
        </thead>
        <tbody id="trans_done_list"></tbody>
      </table>
    </div>
  </div>
</div>

<div id="trans_process">
  <table>
    <tr class="check-input">
      <td class="name">检查输入文件：</td>
      <td class="status">未运行</td>
    </tr>
    <tr class="check-output">
      <td class="name">检查输出参数：</td>
      <td class="status">未运行</td>
    </tr>
  </table>
</div>

<div id="add_files" title="添加文件">
  <ul>
    <li>
      <a href="#upload_done">已上传</a>
    </li>
    <li>
      <a id="remote_files_rel" href="#remote_files">服务器文件</a>
    </li>
  </ul>
  <div id="upload_done">
    <div>
      <table>
        <tr>
          <td>刷新</td>
        </tr>
        <tr>
          <td>
            <a id="upload_refresh" class="ui-state-default ui-corner-all need-hover" title="刷新"><span class="ui-icon ui-icon-refresh"></span></a>
          </td>
        </tr>
      </table>
      <span>默认格式： <b class="default-params"></b></span>
    </div>
    <table class="file-list">
      <thead>
      <tr>
        <td class="clearfix-all"><input type="checkbox" class="select-all-hook"/><span>全部</span></td>
        <td class="filename">视频名称</td>
        <td class="info">视频信息</td>
        <td class="others">其它</td>
      </tr>
      </thead>
      <tbody id="upload_done_list"></tbody>
    </table>
  </div>
  <div id="remote_files"></div>
</div>

<div id="simple_file_tree" title="选择输出路径">
  <div class="path"><span>当前路径：</span><input disabled value='' style="width: 100%;"/></div>
  <div class="content"></div>
</div>


<div id="params_setting" title="视频格式设置">
  <table id="params_setting_filename">
    <tr>
      <td class="tt">文件名</td>
      <td>
        <input name="filename" value="trans-#{orignal-filename}.#{format-type}"/>
      </td>
    </tr>
  </table>
  <table>
    <tr class="output-path">
      <td class="tt">目标路径</td>
      <td>
        <input disabled="disabled" name="path" value="<%= $VTRANS_CONFIG['trans_path'] %>"/>
        <a id="path_select" class="ui-state-default ui-corner-all need-hover" title="选择目标路径"><span class="ui-icon ui-icon-folder-open"></span></a>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td class="tt">转码格式</td>
      <td>
        <select name="video_format">
          <option value="mp4">MP4</option>
          <!--<option value="flv">FLV</option>-->
          <option value="3gp">3GP</option>
          <option value="cavs">CAVS</option>
          <!--<option value="avi">AVI</option>-->
        </select>
      </td>
    </tr>
  </table>
  <table>
    <thead>
    <th class="tt">视频</th>
    </thead>
    <tbody>
    <tr>
      <td class="tt">编码</td>
      <td>
        <select name="vcodec">
          <option value="libx264">H.264/AVC(X264)</option>
          <option value="h263">H.263</option>
          <option value="libxavs">AVS</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="tt">分辨率</td>
      <td>
        <select name="frame_size">
          <option value="">原始分辨率</option>
          <!--<option value="160x128">160x128</option>-->
          <option value="176x144">176x144</option>
          <!--<option value="208x176">208x176</option>-->
          <!--<option value="220x176">220x176</option>-->
          <option value="320x240">320x240</option>
          <!--<option value="400x240">400x240</option>-->
          <!--<option value="480x272">480x272</option>-->
          <!--<option value="480x360">480x360</option>-->
          <!--<option value="640x272">640x272</option>-->
          <!--<option value="640x360">640x360</option>-->
          <option value="640x480">640x480</option>
          <!--<option value="720x480">720x480</option>-->
          <!--<option value="800x340">800x340</option>-->
          <!--<option value="848x480">848x480</option>-->
          <!--<option value="1024x576">1024x576</option>-->
          <!--<option value="1280x544">1280x544</option>-->
          <!--<option value="1280x720">1280x720</option>-->
          <!--<option value="1920x816">1920x816</option>-->
        </select>
      </td>
    </tr>
    <tr>
      <td class="tt">宽高比</td>
      <td>
        <select name="aspect">
          <option value="">自动</option>
          <option value="4:3">4:3</option>
          <option value="16:9">16:9</option>
          <!--<option value="2.35:1">2.35:1</option>-->
          <!--<option value="5:4">5:4</option>-->
          <!--<option value="3:2">3:2</option>-->
        </select>
      </td>
    </tr>

    <tr>
      <td class="tt">帧速率</td>
      <td>
        <select name="fps">
          <option value="0">自动</option>
          <option value="8">8</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="23.976">23.976</option>
          <!--<option value="24">24</option>-->
          <!--<option value="25">25</option>-->
          <!--<option value="29.970">29.970</option>-->
          <!--<option value="30">30</option>-->
        </select>
      </td>
    </tr>
    <tr>
      <td class="tt">比特率</td>
      <td>
        <select name="bitrate">
          <option value="128">128</option>
          <option value="218">218</option>
          <option value="256">256</option>
          <option value="384">384</option>
          <option value="400">400</option>
          <!--<option value="500">500</option>-->
          <!--<option value="512">512</option>-->
          <!--<option value="600">600</option>-->
          <!--<option value="700">700</option>-->
          <!--<option value="768">768</option>-->
        </select>
      </td>

    </tr>
    </tbody>
  </table>
  <table>
    <thead>
    <th class="tt">音频</th>
    </thead>
    <tr>
      <td class="tt">编码</td>
      <td>
        <select name="acodec" disabled="disabled">
          <option value="libfdk_aac">AAC</option>
          <option value="libmp3lame">MP3</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="tt">采样率</td>
      <td>
        <select name="ar">
          <option value="0">自动</option>
          <option value="22050">8000</option>
          <option value="22050">22050</option>
          <!--<option value="24000">24000</option>-->
          <!--<option value="32000">32000</option>-->
          <!--<option value="44100">44100</option>-->
          <!--<option value="48000">48000</option>-->
        </select>
      </td>
    </tr>
    <tr>
      <td class="tt">比特率</td>
      <td>
        <select name="ab">
          <option value="32">32</option>
          <option value="64">60</option>
          <option value="80">80</option>
          <!--<option value="100">100</option>-->
          <!--<option value="150">150</option>-->
          <!--<option value="180">180</option>-->
          <!--<option value="200">200</option>-->
          <!--<option value="220">220</option>-->
          <!--<option value="250">250</option>-->
          <!--<option value="300">300</option>-->
          <!--<option value="350">350</option>-->
        </select>
      </td>
    </tr>
    <tr>
      <td class="tt">声道</td>
      <td>
        <select name="ac">
          <option value="">自动</option>
          <option value="1">单声道</option>
          <option value="2">立体声</option>
        </select>
      </td>
    </tr>
  </table>
</div>


