#upload_done_list .item-index {width: 7%;}
#upload_done_list .filename {width: 25%;}
#upload_done_list .info {width: 35%;}
#upload_done_list .time {width: 15%;}
#upload_done_list .others {width: 7%;}
