<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <title>VegaTrans</title>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
